/*body {
  background: #fff !important;
}*/

div.header {
  font-weight: bold;
}

.recommendation {
  color: #0645AD;
  cursor: pointer;
  display: block;
}

.recommendation:hover {
  color: #0645AD;
  text-decoration: underline;
  cursor: pointer;
  display: block;
}

.deleteButton {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 1px 1px 3px #ffdbdb;
  font-family: Arial;
  color: #000000;
  font-size: 14px;
  background: #ffffff;
  padding: 5px 8px 5px 8px;
  border: solid #000000 2px;
  text-decoration: none;
}

.deleteButton:hover {
  background: #ff0000;
  text-decoration: none;
}

.slider {
  display: none;
}

.sliderVisible {
}
